# Maven
target/

# NetBeans
nbproject/private/
nbactions.xml
build/
dist/

# Base de datos SQLite (la base sembrada SÍ se versiona; el profesor la pide)
db/*.db
!db/baseDeDatosStreamflow.db

# IDE / SO
.idea/
*.iml
.vscode/
Thumbs.db
desktop.ini

# Archivos temporales de Word (lock)
~$*
